body,h1 {
    font-family: "Raleway", sans-serif
}

body, html {
    height: 100%
}

p {
    font-family: "Lucida Console", monospace;
}

.bgimg {
    background-image: url('./../media/img/background.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}